@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/weatherfeed")
@Styles.Render("~/Content/weatherfeed")
<script type="text/javascript">
    $(function () {
        $('#weather').weatherfeed(['USAR0047', 'USAR0485', 'USAR0344'], { unit: 'f', forecast: true });
        $('.refresh').click(function () {
            $(document).find(".nav-region li.js-selected a:contains('Live')").click();
        });
    });
</script>

<section id="intro">

    <!--give a brief introduction of your site-->
    <div class="welcomeheader">
        <div>
            <h2>Welcome to NWA Cricket Live Scores</h2>
            @*  <span style="position: absolute; top: 30%; left: 80%; padding: 0px; margin: 0px;">
                    <img src="@Url.Content("~/Content/Images/careachild.jpg")" alt="care a child" width="80px"/>
                </span>*@
        </div>
        <div>
            <span style="float: right; padding: 0; margin: 0;">
                <img src="@Url.Content("~/Content/Images/careachild.jpg")" alt="care a child" style="width: 30%; height: 30%" />
            </span>
        </div>
    </div>

</section>
<section class="columns">
    <!--large background image goes in here and some text if you require-->
    @*<article class="left">
            <div class="rounded" style="width: 450px; height: 190px; overflow-y: scroll;">
                <h3>Announcements</h3>
                <hr class="hr" />
                <p>
                    Upcoming Games
                </p>
                <table id="tblSchedule" style="font-size: 11px;"></table>
            </div>



        </article>*@

    @{
        var next10Days = DateTime.Now.AddDays(1).ToString("dd-MM-yyyy");
        var today = DateTime.Now.ToString("dd-MM-yyyy");
    }

    <div style="text-align: center;">
        @*<a class="refresh" href="javascript:void(null);">Refresh</a>
            <br />*@
        <iframe width="880" border="0" style="border: none;" height="800"
                src="https://www.crichq.com/plugins/base?width=800&height=600&border=1#clubs/216136/matches/ongoing"></iframe>

    </div>

    <div style="text-align: left;">
        @Html.ActionLink("All Live Scores", "LiveScores", "T102017")
    </div>
    
    <br />
    <br />
    <div style="text-align: center;">
        <h3>Announcements</h3>
        <br />
        <iframe width="880" border="0" style="border: none;" height="800"
                src="https://www.crichq.com/plugins/base?width=800&height=600&border=1#clubs/216136/matches/upcoming?query=&dates.start_date=@(today)&dates.end_date=@(next10Days)&competition_match_level_id=0&location="></iframe>
    </div>



</section>


    